*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
}

.wrapper {
    margin: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    justify-content: center;
}

.card{
    /* box-shadow: 0 0 10px 5px; */
    background-color: black;
    border-radius: 0.2rem;
    min-width: 18rem;
    display: flex;
}

.card .card__img{
    border-radius: 0.2rem;
    width: 12rem;
    height: 10rem;
    object-fit: cover;
}

.card .card__body{
    flex-grow: 1;
    color: white;
    margin: 1rem;
}

.card .card__title{
    line-height: 1.4rem;
    margin-bottom: 1rem;
    font-family:Arial, Helvetica, sans-serif;
}

.card .card__btn{
        border: none;
        background-color: #1f1d1d;
        font-size: 0.8rem;
        color: white;
        padding: 0.7rem ;
        margin: 0.5rem 0rem;
        border-radius: 0.2rem;
        font-family:Arial, Helvetica, sans-serif;
}

.btns{
    margin: 5px;
}

.btns button {
    margin: 5px 5px;
    padding: 5px;
    width: 6rem;
    background-color: transparent;
    border-radius: 1rem ;
    border: 1px solid black;
    font-size: 12px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
}

.btns button:hover{
    background-color: black;
    color: white;
}


@media screen and (min-width:600px){
    h1{
        margin: 15px;
    }
    p{
        margin: 0 15px;
    }
    .wrapper{
        grid-template-columns: repeat(auto-fit,minmax(30rem, 12rem));
    }
    .card{
        flex-direction: column;
        /* text-align: start; */
        min-width: 28rem;

    }
    .card .card__img{
        width: 100%;
        height: 10rem;
    }
    .btns{
        margin: 15px;
    }
    .btns button{
        margin: 15px 5px;
        width: 10rem;
    }
    
}

